@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Noto+Sans+TC:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  font-family: "Noto Sans";
}


@layer components{
  .fondo{background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(70,8,112,1) 50%, rgba(0,0,0,1) 100%);
  }

  .card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(192, 189, 189, 0.124);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 0 8 rgba(0, 0, 0, 0.3);
}

  .title{
    color: #fff;
    font-family: "Creepster";
    letter-spacing: 5px;
    background: rgb(42,8,112);
    background: linear-gradient(0deg, rgba(42,8,112,1) 0%, rgba(255,255,255,1) 82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

      font-size: 50px;
      color: white;
      -webkit-text-stroke: 1px black;

  }

  .imagen{
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }

  .button{
    transition: 500ms ease-in-out;
  }
}
