@import "tailwindcss";
@layer components{
  .nav{
    display: none;
  }

  .nav.on{
    @apply flex w-full flex-col
  }

  .nam{
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.4);
  }

  .border-color{
    background: #24292f;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }

  .home{
    color: rgb(0, 0, 0);
    background: #e2dfdf;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }

  /* Nav usuarios */
  .cart{
    @apply overflow-hidden bg-black/30 w-10 right-5.5 top-28 h-1 border-2 border-white absolute rounded-[8px] transition-all
  }

  .cart.on{
    height: 500px;
    width: 400px;
  }

  .contentCard{
    display: none;
  }

  .contentCard.on{
    display: flex;
    flex-direction: column;
  }

  /* este es el boton de sin out*/

  .button-salir {
    color: white;
    background-color: #24292F;
    padding: 0.625rem 1.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.5rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
    transition: 0.3s, box-shadow 0.3s;
}

.button-salir:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.button-salir:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(36, 41, 47, 0.5);
}

.button-salir.dark:focus {
    box-shadow: 0 0 0 4px gray;
}

.button-salir.dark:hover {
    background-color: #000000;
}

select {
  background-color: rgb(255, 255, 255); /* Cambia el fondo del select */
  color: black; /* Cambia el color del texto */
  border: 1px solid #ccc; /* Estilo del borde */
}

}

body{
  background-color: #242424;
  color: white;
}
