@import "tailwindcss";
@layer components{
  .nav{
    display: none;
  }

  .nav.on{
    @apply flex w-full flex-col
  }

  .nam{
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.4);
  }

  .border-color{
    background: #24292f;
    border-radius: 10px;
    padding: 10px;
  }

  .home{
    color: rgb(0, 0, 0);
    background: #e2dfdf;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
  }


}

body{
  background-color: #242424;
  color: white;
}
