@import "tailwindcss";
@layer components{
  .nav{
    display: none;
  }

  .nav.on{
    @apply flex w-full flex-col
  }

  .nam{
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.4);
  }

  .border-color{
    background: #24292f;
    border-radius: 10px;
    padding: 10px;
  }

  .home{
    color: rgb(0, 0, 0);
    background: #e2dfdf;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
  }

  /* Nav usuarios */
  .cart{
    @apply overflow-hidden bg-black/30 w-10 right-5.5 top-28 h-1 border-2 border-white absolute rounded-[8px] transition-all
  }

  .cart.on{
    height: 500px;
    width: 400px;
  }

  .contentCard{
    display: none;
  }

  .contentCard.on{
    display: flex;
    flex-direction: column;
  }

}

body{
  background-color: #242424;
  color: white;
}
